@font-face {
  font-family: 'BentonSans';
  src: url('fonts/BentonSans.woff2') format('woff2'),
  url('fonts/BentonSans.woff') format('woff');
}

body {
  font-family: 'BentonSans', sans-serif;
  line-height: 1.2em;
  margin: 0;
  background-color: whitesmoke;
}

a {
  color: black;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  width: 100%;
}

.grey-background {
  color: white;
  background-color: rgb(141, 164, 168);
}

.grey-background a {
  color: white;
}

.blue-background {
  color: white;
  background-color: #25285b;
}

.blue-background a {
  color: white;
}

.red-background {
  color: white;
  background-color: rgb(214, 53, 53);
}

.red-background a {
  color: white;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
}

.flex-center-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
}

.margin-container {
  margin: -10px;
}

.margin-container > * {
  margin: 10px;
}

.remove-child-margins > *:first-child {
  margin-top: 0;
}

.flex-big {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
	-webkit-flex-shrink: 0;
	    -ms-flex-negative: 0;
	        flex-shrink: 0;
  -webkit-flex-basis: 320px;
      -ms-flex-preferred-size: 320px;
          flex-basis: 320px;
}

.flex-little {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
	-webkit-flex-shrink: 0;
	    -ms-flex-negative: 0;
	        flex-shrink: 0;
  -webkit-flex-basis: 160px;
      -ms-flex-preferred-size: 160px;
          flex-basis: 160px;
}

.responsive-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 300px;
}

.padded {
  padding: 20px;
}

.max-readable {
  max-width: 700px;
  margin: 0 auto;
}

.big-logo {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.sub-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
}

.sub-logo {
  width: 40%;
}

.sub-logo img {
  width: 100%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
  color: #8d8d8d;
  font-size: 13px;
  background-color: #222222;
  padding: 5px;
}

footer a {
  color: #8d8d8d;
}

footer>* {
  margin: 5px;
}

footer span {
  line-height: 25px;
  vertical-align: middle;
}

footer svg {
  vertical-align: middle;
  height: 25px;
  fill: #8d8d8d;
  margin-right: 5px;
}

.sponsor-logo {
  max-width: 150px;
  max-height: 100px;
  width: auto;
  height: auto;
}

.big-sponsor {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          -webkit-flex-grow: 1;
          flex-grow: 1;
  max-width: 600px;
}

.big-sponsor img {
  width: 100%;
}

.bakerloo-line {
  color: rgb(178, 99, 0);
}

.central-line {
  color: rgb(220, 36, 31);
}

.circle-line {
  color: rgb(255, 211, 41);
}

.district-line {
  color: rgb(0, 125, 50);
}

.hammersmith-city {
  color: rgb(244, 169, 190);
}

.jubilee-line {
  color: rgb(161, 165, 167);
}

.metropolitan-line {
  color: rgb(155, 0, 88);
}

.northern-line {
  color: black;
}

.piccadilly-line {
  color: rgb(0, 25, 168);
}

.victoria-line {
  color: rgb(0, 152, 216);
}

.waterloo-city-line {
  color: rgb(147, 206, 186);
}
